.deps
autom4te.cache
*.o
*/.deps
config.*
*/.dirstamp
libtool
Makefile
stamp-h1
Makefile.in
configure.in
depcomp
missing
install-sh
compile
.vscode/settings.json
niiamap
niiaverage
niibayes
niinucorrect
niiornlm
niiremovebridges
niisanlm
niiseg2mask
niismooth
reg_aladin
reg_f3d
reg_resample
reg_tools
